#main-container {
    background-color: #031634;
    color: #E8DDCB;
    padding:20px;
    margin:10px;
}


.navbar-inverse {
    background-color: black;
    color: white;
    border-radius: 0;
    margin: 0;

}


