#main-container {
    background-color: #031634;
    color: #E8DDCB;
    padding:20px;
    margin:10px;
}


.navbar-inverse {
    background-color: black;
    color: white;
    border-radius: 0;
    margin: 0;

}
.row {
    margin: 2%;
}

.container {
    width: 100%;
}

.panel {
    background-color: #036564;
    color: #E8DDCB;
    border: none;
}


.well {
    background-color: #036564;
    color: #E8DDCB;
    border: none;
}




/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

@media (min-width: 768px) {

    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }

    .fluid-container {
        background-color: #031634;
        color: #E8DDCB;
    }

    .navbar-inverse {
        background-color: black;
        color: white;
        border-radius: 0;

    }

    .row {
        margin: 2%;
    }

    .container {
        width: 100%;
    }

    .panel {
        background-color: #036564;
        color: #E8DDCB;
        border: none;
    }

    .well {
        background-color: #036564;
        color: #E8DDCB;
        border: none;
    }
}


