body {
    background-color: lightgrey;
    magin: 0px;

}

#main-container {
    background-color: lightgrey;
    color: black;
    margin-left: 7%;
    margin-right: 7%;
}

.fluid-container {
    background-color: lightgrey;
}


.navbar-inverse {
    background-color: #1D285A;
    color: white;
    border-radius: 0;
    margin-left: 7%;
    margin-right:7%;

}

#left-col {
    color: #1D285A;
    height: 200px;
    padding: 25px;
    font-size: 35px;
    margin:20px;
    border:5px solid white;
    line-height: 60px;

}

/*#right-col {*/
    /*height: 200px;*/
    /*background-color: #1D285A;*/
    /*color:white;*/
    /*font-size:12px;*/
    /*margin: 5px;*/
    /*padding: 25px;*/

/*}*/

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

footer {
    background-color: lightgrey;
}

.panel {
    margin-top: 20px;
}
